@model IPagedList<Post>
    @using X.PagedList;
    @using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Inicio";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-4">Bievenidos a la Pagina Oficial de InnoMarkets</h1>
            <p class="lead">Aqui podras encontrar articulos mas recientes.</p>
        </div>
    </div>
    <div class="row">
        @if (ViewBag.Error!=null)
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.Error
            </div>
        }
        @foreach (var post in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2>@post.Titulo</h2>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@post.FechaCreacion.ToShortDateString()</small>
                        <div class="float-right">
                            <a asp route id="@post.PostId" asp-action="Details" asp-controller="Post"
                               class="btn btn-sm btn-primary">Ver publicaciones</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }), new PagedListRenderOptions()
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" },
           ContainerDivClasses = new string[] { "pagination justify-content-center" },
           UlElementClasses = new string[] { "pagination" }
       })
        </div>
    </div>
</div>